/*
 * SAMSUNG Peach board device tree source
 *
 * Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;
/include/ "exynos54xx.dtsi"
#ifdef CONFIG_CHROMEOS
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"
#endif
/ {
	model = "SAMSUNG Peach board based on EXYNOS5420";
	compatible = "google,pit-rev1", "google,pit", "samsung,exynos5420",
		"samsung,exynos5";

	aliases {
		serial0 = "/serial@12C30000";
		console = "/serial@12C30000";
	};

	config {
		hwid = "peach TEST A-A 9382";
	};
	/* override SPL size to match BL1 expectations */
	flash@0 {
		spl {
			size = <0x4000>;
		};
	};

	i2c@12ca0000 { /* i2c4 */
		power-regulator@9 {
			compatible = "maxim,max77802-pmic";
			reg = <0x9>;
		};
	};

	i2c@12cd0000 { /* i2c7 */
		edp-lvds-bridge@48 {
			compatible = "parade,ps8625";
			reg = <0x48>;
		};
	};

	i2c@12e10000 { /* i2c9 */
                tpm@20 {
                        compatible = "infineon,slb9645-tpm";
                        reg = <0x20>;
		};
	};

	spi@12d40000 { /* spi2 */
		clock-frequency = <10000000>;
		cros-ec@0 {
			reg = <0>;
			compatible = "google,cros-ec";
			spi-half-duplex;
			spi-max-timeout-ms = <100>;
			spi-frame-header = <0xec>;
		};
	};

	fimd@14400000 {
		samsung,vl-freq = <60>;
		samsung,vl-col = <1366>;
		samsung,vl-row = <768>;
		samsung,vl-width = <1366>;
		samsung,vl-height = <768>;

		samsung,vl-clkp;
		samsung,vl-dp;
		samsung,vl-bpix = <4>;

		samsung,vl-hspw = <32>;
		samsung,vl-hbpd = <40>;
		samsung,vl-hfpd = <40>;
		samsung,vl-vspw = <6>;
		samsung,vl-vbpd = <10>;
		samsung,vl-vfpd = <12>;
		samsung,vl-cmd-allow-len = <0xf>;

		samsung,winid = <3>;
		samsung,interface-mode = <1>;
		samsung,dp-enabled = <1>;
		samsung,dual-lcd-enabled = <0>;
	};

};
