/*
 * Google Snow board device tree source
 *
 * Copyright (c) 2012 Google, Inc
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
/include/ "exynos5250.dtsi"
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"
/include/ "cros5250-common.dtsi"

/ {
	model = "Google Spring";
	compatible = "google,spring", "google,daisy", "samsung,smdk5250",
		   "samsung,exynos5250";

	aliases {
		sdmmc1 = "/mshci@12210000";
	};

	board-rev {
		compatible = "google,board-revision";
		google,board-rev-gpios = <&gpio 88 0>, <&gpio 89 0>;
	};

	dmc@10C00000 {
		mem-manuf = "elpida";
	};

	i2c3: i2c@12c90000 {
		tpm@20 {
			reg = <0x20>;
			compatible = "infineon,slb9645-tpm";
		};
	};

	i2c4: i2c@12ca0000 {
		cros-ec@1e {
			reg = <0x1e>;
			compatible = "google,cros-ec";
			i2c-max-frequency = <100000>;
			ec-interrupt = <&gpio 174 1>;

			power-regulator@48 {
				compatible = "ti,tps65090";
				reg = <0x48>;
			};
		};
	};

	i2c7: i2c@12cd0000 {
		ps8622-bridge@8 {
			compatible = "parade,ps8622";
			reg = <0x8>;
			powerdown-gpio = <&gpio 0x56 1>;	/* C36 */
			reset-gpio = <&gpio 0x51 1>;		/* C31 */
			hotplug-gpio = <&gpio 0x50 0>;		/* C30 */
		};

		/* TODO(sjg@chromium.org): Probably should be 0x11 */
		soundcodec@22 {
			reg = <0x22>;
			compatible = "maxim,max98095-codec";
			mclk-pin = <2>;
		};

		anx7805-bridge@72 {
			compatible = "analogix,anx7805";
			reg = <0x72>;
			powerdown-gpio = <&gpio 0xc6 1>;	/* E06 */
			reset-gpio = <&gpio 0xc7 1>;		/* E07 */
		};
	};

	spi@131b0000 {
		spi-max-frequency = <1000000>;
		spi-deactivate-delay = <100>;
		mkbp@0 {
			reg = <0>;
			compatible = "google,mkbp";
			spi-max-frequency = <5000000>;
			ec-interrupt = <&gpio 174 1>;
			optimise-flash-write;
			status = "disabled";
		};
	};

	mshci@12210000 {
		samsung,sdhci-bus-width = <4>;
	};

	mshci@12220000 {
		/* MMC2 pins are used as GPIO for eDP bridge */
		status = "disabled";
	};

	mshci@12230000 {
		status = "disabled";
	};

	chrome-ec {
		compatible = "google,chrome-ec";
		flash@8000000 {
			reg = <0x08000000 0x20000>;
			erase-value = <0xff>;
		};
	};

	dp@145b0000 {
		samsung,interface = "edp";
	};

	ehci@12110000 {
		port-enable-mask = <0x02>;
	};

	sound@12d60000 {
		samsung,codec-type = "max98095";
	};

	hsichub@13400000 {
		compatible = "smsc,usb3503";
		reset-gpio = <&gpio 0xc8 0>;		/* E10 */
	};

};
