/*
 * SAMSUNG Peach ADV board device tree source
 *
 * Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;
/include/ "exynos54xx.dtsi"
#ifdef CONFIG_CHROMEOS
/include/ "flashmap-exynos-ro.dtsi"
/include/ "flashmap-4mb-rw.dtsi"
/include/ "chromeos-exynos.dtsi"
#endif
/ {
	model = "SAMSUNG Peach board based on EXYNOS5420";
	compatible = "samsung,peach-pit-adv", "samsung,exynos5";

	config {
		hwid = "peach TEST A-A 9382";
	};
	/* override SPL size to match BL1 expectations */
	flash@0 {
		spl {
			size = <0x4000>;
		};
	};

	board-rev {
		compatible = "google,board-revision";
		google,board-rev-gpios = <&gpio 76 0>,
					 <&gpio 75 0>,
					 <&gpio 74 0>,
					 <&gpio 73 0>;
	};

	i2c@12ca0000 {
		#address-cells = <1>;
		#size-cells = <0>;
		power-regulator@48 {
			compatible = "ti,tps65090";
			reg = <0x48>;
		};

		pmic@66 {
			compatible = "samsung,s2mps11-pmic";
			reg = <0x66>;
		};
	};

	i2c@12c90000 {
		#address-cells = <1>;
		#size-cells = <0>;
		tpm@20 {
			compatible = "infineon,slb9635-tpm";
			reg = <0x20>;
		};
	};

	spi@12d30000 { /* spi1 */
		spi-max-frequency = <50000000>;
		firmware_storage_spi: flash@0 {
			reg = <0>;
		};
	};

	fimd@14400000 {
		samsung,vl-freq = <60>;
		samsung,vl-col = <1366>;
		samsung,vl-row = <768>;
		samsung,vl-width = <1366>;
		samsung,vl-height = <768>;

		samsung,vl-clkp;
		samsung,vl-dp;
		samsung,vl-bpix = <4>;

		samsung,vl-hspw = <32>;
		samsung,vl-hbpd = <40>;
		samsung,vl-hfpd = <40>;
		samsung,vl-vspw = <6>;
		samsung,vl-vbpd = <10>;
		samsung,vl-vfpd = <12>;
		samsung,vl-cmd-allow-len = <0xf>;

		samsung,winid = <3>;
		samsung,interface-mode = <1>;
		samsung,dp-enabled = <1>;
		samsung,dual-lcd-enabled = <0>;
	};

	dmc {
		mem-type = "lpddr3";
	};
};
